<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        
        <form th:action="@{/save}" th:object=${persona} method="POST">
            <div></div>
            <div>
                <div>
                    <label>ID</label> 
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </div>
                <div>
                    <label>NOMBRE</label> 
                    <input type="text" th:field="*{nombre}" />
                </div>
                <div>
                    <label>PASSWORD</label> 
                    <input type="text" th:field="*{password}" />
                </div>
            </div>
            <div>
                <input type="submit" value="Guardar" /> <a th:href="@{/listar}">Regresar</a>
            </div>
        </form>
   
    </body>
</html>