<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <form class="form-horizontal" th:action="@{/login}" th:object="${usuario}" method="POST">
                <fieldset>

                    <!-- Form Name -->
                    <legend>
                        <a th:href="@{/register}">Registro</a>
                        Ingreso
                    </legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nombre">Nombre</label>  
                        <div class="col-md-4">
                            <input id="nombre" name="nombre" type="text" placeholder="Nombre usuario" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Contraseña</label>
                        <div class="col-md-4">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-success">Aceptar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

            <div class="alert alert-warning" role="alert" th:text="${error}" th:unless="${error == null}"></div>
            <div class="alert alert-primary" role="alert" th:text="${param.status}" th:unless="${param.status == null}"></div>
            <div class="alert alert-success" role="alert" th:text="${info}" th:unless="${info == null}"></div>
        </div>
    </body>
</html>
